/* CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Navigation;
    src:url("StrongConcrete-Bold.otf");
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.wrap{
    background:#ffb600;
}
main {
    height: 100%;
    width: 100vw;
    display: flex;
    overflow: hidden;
}

section{
    width: 100vw;
    height: 100%;
}


.wrap {
    display: flex;
    height: 100%;
}

.section {
    height: 100%;
    position: relative;
    display:flex;
    left: -200px;
    align-items: center;;
    justify-content: center;;
}


.blocks {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Adjusted width to make blocks smaller */
    height: 100%;
    z-index: 100;
    pointer-events: none;
    transition: width 0.3s;
}

.block {
    position: absolute;
    top: 0;
    left:0;
    width: 40px; /* Adjusted width to make blocks smaller */
    height: 100%;
    z-index: 100;
    padding: 2rem 1.25rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: auto;
    cursor: pointer;
    font-family:"Plus Jakarta Sans", sans-serif;
}

.block__title {
    font-size: 24px; /* Adjusted font size */
    text-align: center; /* Center the text horizontally */
    display:block;
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space:nowrap;
    font-weight: 600;
    color:#ffff;
    letter-spacing: -5px;

}

.block__number {
    font-size: 12px; /* Adjusted font size */
    text-align: center; /* Center the text horizontally */
    font-weight: 100;
    color:#ffff;

}
.block[data-block-section="1"] {
    left:0;
    background:#ea30a1;
}



.block[data-block-section="2"].init {
    left: calc(100vw - 10.020rem);
    background:#f33a45;

}
.block[data-block-section="2"].fixed {
    left: 2.5rem;
    background:#f33a45;

}

.block[data-block-section="3"].init {
    left: calc(100vw - 7.520rem);   
     background: #00aaff;


}
.block[data-block-section="3"].fixed {
    left: 5.020rem;
    background: #00aaff;


}

.block[data-block-section="4"].init {
    left: calc(100vw - 5.020rem);
    background: #19ae5d;


}
.block[data-block-section="4"].fixed {
    left:7.5rem;
    background: #19ae5d;


}

.block[data-block-section="5"].init {
    left: calc(100vw - 2.5rem);
    background: #ffb600;


}
.block[data-block-section="5"].fixed {
    left:10rem;
    background: #ffb600;


}
.block__title {
    position: relative;
    white-space: nowrap;
}
.section[data-block-section="1"]{
    background: #ea30a1;
}
.section[data-block-section="2"]{
    background:#f33a45;
}
.section[data-block-section="3"]{
    background:#00aaff;
}
.section[data-block-section="4"]{
    background:#19ae5d;
}
.section[data-block-section="5"]{
    background:#ffb600
}

#home h1{
    color:white;
    font-family: Navigation;
    position: fixed;
    top: 20px;
    left: 52px;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
}
#home h2{
    position: fixed;
    top: 24px;
    left: 48px;
    font-family: navigation;
    -webkit-text-stroke: 2px #ffffff;
    color: transparent;
    font-size: 64px;
    letter-spacing: 0;

}
#home p{
    position: fixed;
    font-family: "Plus Jakarta Sans";

}
.box {
    width: auto;
    height: auto;
}

.box .rectangle {
    position: fixed;
    width: 56px;
    height: 18px;
    top: 60px;
    left: 294px;
    background-color: #ffffff;
}
.box .rectangle1 {
    position: fixed;
    width: 44px;
    height: 18px;
    top: 42px;
    left: 350px;
    background-color: #ccff00;
}
.box .rectangle2 {
    position: fixed;
    width: 18px;
    height: 18px;
    top: 24px;
    left: 394px;
    background-color: #ffffff;
}
.box .rectangle3 {
    position: fixed;
    width: 18px;
    height: 18px;
    top: 60px;
    left: 394px;
    background-color: #ffffff;
}

.frame{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap:8px;
    position: relative;
    width: 100%;
    height: 100%;
    left:246px;
    top:100px;
}
.frame .text-wrapper {
    position: relative;
    width: fit-content;
    font-family: "Plus Jakarta Sans";
    color: #ffffff;
    font-weight: 650;
}

.frame .div {
    position: relative;
    width: fit-content;
    color:#ccff00;
    font-family: "Plus Jakarta Sans";
    font-weight: 650;
    font-size: 28px;
}
.frame .div2 {
    position: relative;
    width: fit-content;
    color:#ffff;
    font-family: "Plus Jakarta Sans";
    font-weight: 250px;
    font-size: 28px;
}
.label {
    width: fit-content;
    height: fit-content;
}

.label .i-m-an-undergraduate {
    position: relative;
    width: 399px;
    top: 240px;
    left: 48px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 16px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 24px;
}
.pictures{
    width: fit-content;
    height: fit-content;
}
.pictures .vector{
    position: fixed;
    top:0px;
    left:0px;
    width:20%;
    height:100%;

}
.pictures .vector2{
    position: fixed;
    top:0px;
    left:0px;
    width:25%;
    height:100%;
}
.pictures .vector3{
    position: fixed;
    top: 40px;
    left:740px;
    width:7.5%;
    height: 7.5%;
}
.pictures .segitiga{
    position: fixed;
    top: 54px;
    left:776px;
    width:5%;
    height:5%;
}
.pictures .fotodiri{
    position: fixed;
    top: 40px;
    left:0px;
    width: 25%;
    height: 100%;
}


